body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  margin: 0;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 20;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px
}

.logo img {
  height: 50px;
  width: auto;
}

nav {
  display: inline-flex;
  align-items: flex-end;
}

nav span {
  padding: 0 10px;
}

nav span a {
  color: seashell;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 70px;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  height: 700px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: black;
  z-index: 10;
  padding: 10px;
  width: 1200px;
}

.featured {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 52px;
  width: 1000px;
}

.featured-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1000px;
}

.featured-img {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 250px;
  margin: 15px 15px 0 15px;
}

.featured-img h4 {
}
